[submodule "Tor/libevent"]
	path = Tor/libevent
	url = https://github.com/libevent/libevent.git
[submodule "Tor/tor"]
	path = Tor/tor
	url = https://git.torproject.org/tor.git
	ignore = dirty
[submodule "Tor/openssl"]
	path = Tor/openssl
	url = git://github.com/openssl/openssl.git
[submodule "Carthage/Checkouts/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Tor/xz"]
	path = Tor/xz
	url = https://git.tukaani.org/xz.git
