//
//  Tor.xcconfig
//  Tor
//
//  Created by Conrad Kramer on 7/6/16.
//

PRODUCT_NAME = Tor
INFOPLIST_FILE = Tor/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = org.torproject.Tor
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = $(inherited) "$(SRCROOT)/Tor/include" "$(SRCROOT)/Tor/tor" "$(SRCROOT)/Tor/tor/src" "$(SRCROOT)/Tor/tor/src/common" "$(SRCROOT)/Tor/tor/src/ext" "$(SRCROOT)/Tor/libevent/include" "$(SRCROOT)/Tor/openssl/include" "$(BUILT_PRODUCTS_DIR)/openssl" "$(BUILT_PRODUCTS_DIR)/libevent"
USER_HEADER_SEARCH_PATHS = $(inherited) "$(BUILT_PRODUCTS_DIR)/tor"
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_MODULES = YES
OTHER_CFLAGS = -Wunguarded-availability -Wstrict-prototypes -Wall -Wextra -Wunused
CODE_SIGN_IDENTITY =
